
.bg {
    background: url('/assets/bg_2.jpg');
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
main {
    width: 100%;
    height: calc(100vh - 118px);
    display: block;
    app-nav-bar {
        grid-area: navbar;
    }
    app-chat-box {
        grid-area: chatbox;
    }
}
@media (max-width: 992px) {
    main {
       height: calc(100vh - 73px);
    }
}