<app-nav-bar></app-nav-bar>

    
<div class="container mt-5 animated fadeIn">
    <div class="row" >
        <div class="col-12 mb-3">
            <button class='ml-0' mat-raised-button color="primary"  routerLink='/admin/news' >Canelar</button>
            <button class='m-1' (click)="create()" mat-raised-button color="primary" >Guardar</button>
        </div>
        <div class="col-sm-12 col-md-8">
            <input name='title' class='input' [(ngModel)]="noticia.title" placeholder="Titulo de noticia" type="text">
            <textarea name='description' class='input textarea' [(ngModel)]="noticia.description" placeholder="Breve descripcion"></textarea>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="drog-file">
                <input name='file' #file type="file" accept='image/*' (change)="preview(file.files)">
                <div class='content'>
                    <figure *ngIf="imagePath">
                        <img [src]="imagePath">
                    </figure>
                    <mat-icon *ngIf="!imagePath">
                        add_photo_alternate
                    </mat-icon>
                </div>
            </div>
        </div>
        <div class="col-sm-12 mb-3">
            <div class="box">
                <angular-editor name='html' [placeholder]="'Contenido de la noticia'" [(ngModel)]="noticia.html" [config]="editorConfig"></angular-editor>
            </div>
        </div>
    </div>
</div>