.message {
    max-width: calc(100% - 30px);
    background: #BDBDBD;
    border-radius: 10px;
    margin: 5px 30px 5px 5px;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    letter-spacing: 0.0235294em;
    &.current {
        margin: 5px 5px 5px 30px;
        background: #3E50B4;
        color: #fff;
        text-align: right;
    }
    &.news {
        padding: 0;
        display: grid;
        grid-template: 'img text';
        grid-template-columns: 130px auto;
        overflow: hidden;
        .news_body {
            grid-area: text;
            padding: 15px;
            * {
                color: #fff;
            }
        }
        figure {
            grid-area: img;
            margin: 0;
            display: block;
            width: 130px;
            height: 130px;
            border-radius: 0 10px 10px 0 ;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                max-height: 100%;
            }
        }
    }
}