<div class='message news' [class.current]='data.recivido != admin' *ngIf='data.id_noticia'>
    <figure>
        <img [src]="data.img_noticia">
    </figure>
    <div class="news_body">
        <h2>{{data.text_noticia}}</h2>
        <p>{{data.title_noticia}}</p>
    </div>
</div>
<div class='message' [class.current]='data.recivido != admin'>
    <div class="box-msg">
            {{ data.text }}
    </div>
</div>
<span class='date' [class.current]='data.recivido != admin' *ngIf="separar">{{data.data_create.toDate() | date: 'hh:mm'}}</span>
