.text-filter div {
    line-height: 66px;
    color: #666;
    font-size: 15px;
}

.msjNone p{
    text-align: center;
    font-size: 19px;
    padding: 30px 0;
    font-weight: 300;
    color: #999;
    width: 100%;
    margin: 0;
}
.table-filter {
    border-radius: 5px;
}