
<section [style.background]="color">
    <div *ngIf="title && (!linkMore || data.length < 5)" class="container">
        <div class="row">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <div *ngIf="title && linkMore && data.length > 5" class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 text-center text-md-left">
                <h2>{{ title }}</h2>
            </div>
            <div class="col-sm-12 col-md-6 text-center text-md-right">
                <button mat-button>MostrarMas</button>
            </div>
        </div>
    </div>

    
    <div class="container">
        <div class="row">

            <!-- Capitan -->
            <div *ngIf='capital && data.length > 5' class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-12">
                        <app-card-new [title]="data[0].title" [capital]='true' [date]='data[0].date'></app-card-new>
                    </div>
                </div>
            </div>
            <div *ngIf='capital' class="col-sm-12 col-md-6">
                <div class="row mb-30">
                    <div class="col-sm-12 col-md-6">
                        <app-card-new [title]="data[1].title" [date]='data[1].date'></app-card-new>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <app-card-new [title]="data[2].title" [date]='data[2].date'></app-card-new>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <app-card-new [title]="data[3].title" [date]='data[3].date'></app-card-new>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <app-card-new [title]="data[4].title" [date]='data[4].date'></app-card-new>
                    </div>
                </div>
            </div>

            <!-- Normal -->
            <div *ngIf='!capital || data.length < 5' class="col-sm-12">
                <div class="row mb-30">
                    <div *ngFor='let card of filter()' class="col-sm-12 col-md-3">
                        <app-card-new [title]="card.title" [date]='card.date'></app-card-new>
                    </div>
                </div>
            </div>
            <div *ngIf='!capital || data.length < 5' class="container">
                <div class="row">
                    <div *ngIf='!btnPrev' class="col-sm-12 col-md-6 text-center text-md-left">
                            <button mat-button>Anterior</button>
                    </div>
                    <div *ngIf='!btnNext' class="col-sm-12 col-md-6 text-center text-md-right">
                        <button mat-button>Siguiente</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>