<div class="text-center col-12">
    <h3>Emprendiminto</h3>
</div>
<div class="text-center col-12">
    <p>Si tiene una key que le aya pasado ingresela de lo contrario solo continue.</p>
</div>
<div class="text-center col-12">
    <input class='input' [(ngModel)]="data.key" placeholder="key" type="text">
</div>

<div class='text-center col-12'>
    <button class='m-1' mat-stroked-button (click)="exit(false)" color="warn" >Cancelar</button>
    <button class='m-1' mat-raised-button (click)="exit(true)" color="primary" >Continuar</button>
</div>