<app-nav-bar></app-nav-bar>
<section class="objetivos">
    <div appParallax [ratio]="0.2" class="bg2"></div>
    <div appParallax [ratio]="0.2" class="bg"></div>
    <div class="container">
        <div class="row ">
            <div class="col-12 info-banner animated fadeInUp">
                <img src="/assets/logo.png" alt="Logo San Jose" class='logo '>
                <p class='text-center'>
                    Mantengase al tanto de los eventos, las noticias y las novedades que mas le interesan de su enprendiminto, 
                    comparta sus ideas, un enprendiminto, sus proyectos, la empresa del mañana. <br> Nuestro objetivo es con su ayuda mejorar el enfoque viendo la situasion del mercado actual, crear eventos y ayudas a aquellos que busquen su propia empresa y mejorar la situasion para las empresas que estan comensando </p>
            </div>
        </div>
    </div>
</section>
<app-section-news *ngIf="loade" [title]="'Ultimas noticias'" [data]='lNews.slice(0, 6)' [capital]='true'></app-section-news>
<app-section-news *ngIf="loade" [title]="'Ultimas noticias'" [data]='lNews.slice(5, 10)' [linkMore]="'ssss'" [color]="'#faf9f9'" ></app-section-news>
<app-section-news *ngIf="loade" [title]="'Ultimas noticias'" [data]='lNews.slice(10, 15)' [linkMore]="'ssss'"></app-section-news>
<div class='loading' *ngIf="!loade">
    <mat-progress-spinner
        color="primary"
        mode="indeterminate"
    ></mat-progress-spinner>
</div>

<app-footer></app-footer>