<app-nav-bar></app-nav-bar>
<section class="objetivos">
    <div class="container">
        <h1 class='animated fadeInUp'>Objetivos</h1>
        <p class='animated fadeInUp'>
            Mantengase al tanto de los eventos, las noticias y las novedades que mas le interesan de su enprendiminto, 
            comparta sus ideas, un enprendiminto, sus proyectos, la empresa del mañana. <br> Nuestro objetivo es con su ayuda mejorar el enfoque viendo la situasion del mercado actual, crear eventos y ayudas a aquellos que busquen su propia empresa y mejorar la situasion para las empresas que estan comensando </p>
    </div>
</section>
<app-section-news [title]="'Ultimas noticias'" [capital]='true'></app-section-news>
<app-section-news [title]="'Ultimas noticias'" [linkMore]="'ssss'" [color]="'#faf9f9'" ></app-section-news>
<app-section-news [title]="'Ultimas noticias'" [linkMore]="'ssss'"></app-section-news>
<app-footer></app-footer>