<div class='cardNews' matRipple [style.backgroundImage]="'url('+ img +')'">
    <div class='content'>
        <main>
            <h1 [class.capital]='capital'>{{ title }}</h1>
            <p [class.capital]='capital'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ipsa nisi rerum dolorum non minus quam ipsum libero, fugiat veniam praesentium saepe quae nam eum dicta impedit nobis, blanditiis minima?Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ipsa nisi rerum dolorum non minus quam ipsum libero, fugiat veniam praesentium saepe quae nam eum dicta impedit nobis, blanditiis minima?Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ipsa nisi rerum dolorum non minus quam ipsum libero, fugiat veniam praesentium saepe quae nam eum dicta impedit nobis, blanditiis minima?</p>
        </main>
        <footer>
            <span >{{ date | printDateString }}</span>
        </footer>
    </div>
</div>