<div class='cardNews animated fadeInUp' matRipple  [style.backgroundImage]="'url('+ url + '/' + img +')'">
    <div class='content' >
        <main routerLink="{{ '/admin/news/' + id }}">
            <h1 [class.capital]='capital'>{{ title }}</h1>
            <p [class.capital]='capital'>{{  description }}</p>
        </main>
        <footer routerLink="{{ '/admin/news/' + id }}">
            <span >{{ date | printDateString }}</span>
        </footer>
        <div *ngIf="admin" class="accion">
            <button routerLink="{{ '/admin/news/' + id }}"  mat-icon-button >
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="delete(id)" >
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>